{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


<main class="content" role="main">

    <article class="{{post_class}} article" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        
        
        
        {{! Each post has the blog logo at the top, with a link back to the home page }}
        

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <div class="post-image">
                <div class="post-image-image" style="background-image: url({{image}})"; data-0="opacity: 1; top: 0px" data-500="opacity: 0.2; top: 250px">
                    Post Image
                </div>
                <header class="post-header">
                    <div class="site-head-content">
                        <a href="/" class="pull-left"><img src="/assets/images/logo.svg" width="120" alt="Hack To Start"></a>
            
                        <div class="blog-social pull-right">
                            <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                        </div>


                    </div>
                </header>

                <div class="post-head">
                    <div class="post-head-inner">
                        <span class="episode"> {{tags autolink="false"}}</span>
                        <h1 class="post-title">{{{title}}}</h1>
                        <span class="post-meta"><i class="fa fa-calendar-o"></i>  <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>
                    </div>
                </div>


            </div>

            <section class="post-content">
                {{content}}
            </section>
        
            <section class="author">
                <img class="author-image" src="{{author.image}}" />
                <h4 itemprop="author" itemscope="" itemtype="http://schema.org/Person" > {{author}} </h4>
                <p itemprop="description" > {{author.bio}} </p>
            </section>

            <footer class="post-footer">
                <section class="share">
                    <div class="left">
                        <a href="/"><i class="fa fa-long-arrow-left"></i> Back to Overview</a>
                    </div>
                    <div class="right">
                        <p>Share
                            <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </p>
                    </div>
                </section>
                
                <!-- Comments system http://www.moot.it already included
                <div class="comments">
                    <a class="moot" href="https://moot.it/i/starburst/comments:{{{title}}}">
                       Comments for my blog entry
                    </a>
                </div>
                -->

            </footer>

        {{/post}}

    </article>

</main>
{{> footer}}